.hero {
	padding: 150px 0;
	background: #3cc965;
	color: #fff;
	text-align: center;
	font-family: sans-serif;
}

.hero h1 {
	font-size: 2.8em;
}

.hero a {
	font-size: 1.3em;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 9px 35px;
}

header {
	color: #eee;
}